<div class="layout-row">
  {{partial 'components/user-avatar'}}
  <div class="layout-column">
    <span class="subhead">{{moment-from-now row.createdDate}}</span>
    <h5>{{value.name}}</h5>
  </div>
</div>