<!-- components/space-apps/light-cell.hbs -->
<div class="subhead">
{{row.name}} owned by {{row.owner.username}}
{{#if row.space}}
  in {{row.space.title}}
{{/if}}
</div>
<h4 class="no">{{row.title}}</h4>
<span class="flex"></span>