<!-- app/templates/blox/block/activity.hbs -->

<div class="layout-fill layout-row layout-align-center-start ">

{{paginated-table model=model modelName='activity-log' sort="createdDate" dir='desc' }}
</div>