<!-- app/templates/base-search.hbs -->
<div class="layout-fill layout-row layout-align-center-start ">
{{paginated-table model=model meta=meta modelName=modelName belongsToName=belongsToName belongsToValue=belongsToValue sort=sort dir=dir }}
</div>
