<!-- app/templates/base-search.hbs -->
<div class="layout-fill layout-column layout-align-start-start">
  {{#if showNewRowRoute}}
    {{#paper-content padding=true }}
      {{#paper-button raised=true onClick=(route-action "showNewRow")}}
       Add
      {{/paper-button}}
    {{/paper-content}}
  {{/if}}
  {{paginated-table model=model meta=meta modelName=modelName belongsToName=belongsToName belongsToPropertyName=belongsToPropertyName belongsToValue=belongsToValue sort=sort dir=dir }}
</div>
