<!-- components/space-apps/light-cell.hbs -->
<div class="subhead">
{{#if row.space}}
  {{row.space.title}}
{{else}}
  {{row.name}}
{{/if}}
</div>
<h4 class="no">{{row.title}}</h4>
<span class="flex"></span>